<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--styles css-->
    <div th:replace="_components/style"></div>

</head>
<body>
    <div th:include="_parts/_nav_bar"></div>
    <!-- Body -->
    <div class="container" style="min-height: 81vh; margin-top: 15px;">
        
        <!-- <div th:include="_parts/_card"></div> -->
         <!-- <div th:include="_parts/_movil_list.html"></div> -->
         <div th:include="_parts/_movil_form.html"></div>
         
    </div>
    <!-- End Body -->
    <div th:include="_parts/_footer"></div>
    <!--Scripts-->
    <div th:replace="_components/java_script"></div>
</body>
</html>